DATABASE_URL="mysql://USER:PASSWORD@HOST:4000/DATABASE"
JWT_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
JWT_EXPIRES_IN="12h"
NEXT_PUBLIC_API_BASE_URL="https://posbackend-amber.vercel.app"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="ChangeMe123!"
